.create-account {
    width: 100vw;
    height: 100vh;
    @include center();
    background-color: $blueGreen;
    background-image: linear-gradient( $blueGreen, $green);

    .create-account-container {
        @include center();
        background-color: $white;
        width: 500px;
        height: 540px;
        border-radius: 10px;
        box-shadow: 0px 0px 14px -2px rgba(164,169,176,1);
        margin-top: -100px;
        opacity: 0;

        .create-account-wrapper {
            @include center();
            .email-password-form {
                margin-bottom: 11px;

                .form {
                    margin-top: 10px;
                    
                    input {
                        height: 50px;
                    }
                }
            }
            

            .date-picker-forms {
                @include center();
                flex-direction: row;
                justify-content: space-around;
                margin-bottom: 7px;
                

                input {
                    text-align: center;
                    width: 170px;
                    height: 33px;
                    border: 1px solid $greyer;
                }
            }

            #button {
                height: 73px;
                margin-top: -5px;
            }
        }

    }
    
}

.select-forms {
    font-family: $titillium;
    @include center();
    flex-direction:row;
    justify-content: space-around;
    margin-bottom: 7px;
    

    select {
    background-color: $grey;
    color: grey;
    border: 1px solid $greyer;
    width: 170px;
    height: 35px;

   

    }
   
}



.create-account-wrapper > .login-title {
    margin: 0;
    font-size: 3.3em;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.datepicker {
    background-color: $grey;
    border: $greyer;
    color: grey;
    border-radius: 4px;
    font-family: $titillium;
    font-size: .9em;
}

.commission-form {
    margin-bottom: 16px;

    input {
        height: 50px;
    }
}

.login-link {
    @include center();
    flex-direction: row;
    font-family: $quicksand;
    margin-top: 7px;
    font-size: 0.9em;
    letter-spacing: 1px;

    a {
        color: #3D9160;
        transition: 0.3s ease-in-out;
        &:hover {
            text-decoration: none;
            color: #83efcf;
        }
    }
}