.homepage{
    display:flex;
    width: 100%;
}

.left-column {
    position: absolute;
    left: -200px;
    height: 100vh;
    width: 360px;
    background-color: #17ACD6;
    background-image: linear-gradient( #17D6CC, #17ACD6);
    @include center();
    justify-content: space-between;
    opacity: 0;

    .menu {
        visibility: hidden;
    }

    .user-info {
        margin-top: 30px;
        height: 145px;
        width: 145px;
        @include center();
        border-radius: 50%;
        background-color: $grey;
        
        i {
            font-size: 6em;
            color: $greyer;
            margin-bottom: 6px;
        }
    }

    .user-email {
        color: $darkBlue;
        font-family: $titillium;
        font-size: 1.3em;
        letter-spacing: 1px;
    }
}
.nav-links{
    width: 100%;

    .column-link {
        display: flex;
        flex-direction: column;
        @include center();
        border-top: 1px solid $darkBlue;
        height: 100px;
        font-family: $quicksand;
        font-size: 1.5em;
        color: $darkBlue;
        letter-spacing: 1px;
        transition: 0.2s ease-in-out;

        &:hover {
            background-color: $darkBlue;
            color: $grey;
            text-decoration: none;
        }
        a {
            width: 100%; 
        }
    }

    .bottom-link {
        border-bottom: 1px solid $darkBlue;
       
    }
}
.logout-button {
    margin-bottom: 10px;
    background: transparent;
    border: none;
    font-family: $quicksand;
    color: $darkBlue;
    transition: 0.2s ease-in-out;
    font-size: 1.1em;

  &:focus {
      outline: none;
  }

  &:hover {
      color: $green;
  }
}


.right-column {
    padding-left: 360px;
    width: 100%;
    height: 100vh;
    background-color: $white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    

    .tablet-wrapper {
        width: 100%;
        height: 100%;
        
        @include center();

       
        
    }
    .tablet {
        width: 480px;
        height: 300px;
        
        border-radius: 10px;
        box-shadow: 0px 0px 7px -2px rgba(164,169,176,1);
    }

    .contract-value-tablet {
        
    }



}

