@media (max-width: 810px) {
    .nav-links, .user-email, .user-info {
        visibility: hidden;
    }

    .visible {
        visibility: visible;
    }
    

    .homepage {
        display: grid;
        grid-template-columns: 1fr;
        
        .left-column {
            display: block;
            height: 55px;
            width: 100%;
            .menu {
                visibility: visible;
                
                i {
                    color: $darkBlue;
                    font-size: 2.1em;
                    margin-top: 9px;
                    margin-left: 7px;
                }
                
            }

            .nav-links {
                position: fixed;
                top: 55px;
                
                .column-link {
                    background-color: $darkBlue;
                    color: $grey;

                    &:hover {
                        color: $darkBlue;
                        background-color: $greyer;
                        border-top: 1px solid $greyer;
                    }
                }
            }

            .logout-button {
                position: absolute;
                bottom: 0;
                right: 0;
            }
            
        }

        .right-column {
            margin-top: 75px;
            position: static;
            grid-template-columns: 1fr;
            grid-gap: 15px;
            padding-left: 0;
            width: 100%;
        
            .tablet {
                width: 400px;
                height: 300px;
                

            }
        }
    }
}

@media (max-width: 810px) {
    .login {
        .login-container {
            width: 350px;
            height: 300px;

            .login-wrapper {

                .login-title {
                    margin-bottom: 10px;
                }
            }
        }

        .login-form {

            #error {
                margin-bottom: 5px;
            }
            .form input{
                width: 280px;
                height: 40px;
                margin-bottom: 5px;
                margin-top: 5px;
            }

            #button {
                width: 280px;
            }

            .create-account-link {
                padding-bottom: 8px;
            }
        }
    }
}

@media (max-width: 810px) {
    .create-account {
        .create-account-container {
            width: 380px;
            height: 480px;
        }
    }
}


